[submodule "src/github.com/ajstarks/svgo"]
	path = src/github.com/ajstarks/svgo
	url = https://github.com/ajstarks/svgo
[submodule "src/github.com/golang/freetype"]
	path = src/github.com/golang/freetype
	url = https://github.com/golang/freetype
[submodule "src/github.com/gonum/floats"]
	path = src/github.com/gonum/floats
	url = https://github.com/golnum/floats
[submodule "src/github.com/gonum/internal"]
	path = src/github.com/gonum/internal
	url = https://github.com/gonum/internal
[submodule "src/github.com/gonum/plot"]
	path = src/github.com/gonum/plot
	url = https://github.com/gonum/plot
[submodule "src/github.com/llgcode/draw2d"]
	path = src/github.com/llgcode/draw2d
	url = https://github.com/llgcode/draw2d
[submodule "src/golang.org/x/image"]
	path = src/golang.org/x/image
	url = "https://golang.org/x/image"
